{% extends 'base.html' %}

{% block title %}Дедлайны{% endblock %}

{% block content %}
    <ul class="list-group list-group-flush mb-3">
    {% for material in pinned_materials %}
        <li class="list-group-item">
            <h5><i class="fa fa-thumb-tack" aria-hidden="true"></i> {{ material.title }}</h5>
            {{ material.text.rendered | safe }}
        </li>
    {% endfor %}
    </ul>

    <h3>Текущие дедлайны</h3>

    <table class="table">
        <tbody>
        {% for deadline in deadlines %}
            <tr>
                <td>
                    <h5 class="card-title">{{ deadline.title }}</h5>
                    <h6 class="card-subtitle mb-2"><span class="badge badge-secondary">{{ deadline.subject.name }}</span></h6>
                    <small class="text-muted">{{ deadline.date|date:"d.m.Y H:i" }}</small> <span class="badge badge-light"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ deadline.date|timeuntil }}</span>
                </td>
                <td>{{ deadline.text.rendered | safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Старые дедлайны</h3>

    <table class="table text-secondary">
        <tbody>
        {% for deadline in old_deadlines %}
            <tr>
                <td>
                    <h5 class="card-title">{{ deadline.title }}</h5>
                    <h6 class="card-subtitle mb-2"><span class="badge badge-secondary">{{ deadline.subject.name }}</span></h6>
                    <small class="text-muted">{{ deadline.date|date:"d.m.Y H:i" }}</small> <span class="badge badge-light"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ deadline.date|timeuntil }}</span>
                </td>
                <td>{{ deadline.text.rendered | safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
