{% extends 'base.html' %}

{% block title %}Расписание экзаменов{% endblock %}

{% block content %}
    <h2>Календарь с экзаменами</h2>

    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;hl=ru&amp;bgcolor=%23FFFFFF&amp;src=0dda9ueqtfere9lvcm1nmafck0%40group.calendar.google.com&amp;color=%23BE6D00&amp;src=4r4ctpclbd91ea7e5u1sdhb118%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FMoscow" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}
